<?xml version="1.0" encoding="UTF-8"?>
<!--
  MSIGN for Samsung Tizen TVs (docs/CONTRACTS.md §22). A thin Tizen web app whose only job is to
  open the MSIGN player full screen; everything else is the web app. Package id must be exactly
  10 alphanumeric characters; the application id is "<package>.<name>".
-->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://msign-iota.vercel.app/tizen" version="1.0.0" viewmodes="maximized">
  <tizen:application id="MSIGNtvApp.MSIGN" package="MSIGNtvApp" required_version="5.0"/>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/screen.size.all"/>
  <icon src="icon.png"/>
  <name>MSIGN</name>
  <description>MTech digital signage player</description>

  <!-- The player lives on the MSIGN site: allow the app to load it and to navigate there. -->
  <access origin="*" subdomains="true"/>
  <tizen:allow-navigation>msign-iota.vercel.app</tizen:allow-navigation>
  <tizen:allow-navigation>*.vercel.app</tizen:allow-navigation>
  <tizen:allow-navigation>*.supabase.co</tizen:allow-navigation>

  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:privilege name="http://developer.samsung.com/privilege/network.public"/>

  <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable"
                 encryption="disable" install-location="auto" hwkey-event="enable"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/use.network" value="true"/>
  <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"/>
  <tizen:profile name="tv-samsung"/>
</widget>
